html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  	margin: 0;
   	background-color: #e2dacb;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
.clearfix:afrer{
  content:"";
  display:table;
  clear:both;
}
.cr{
  width:960px;
  margin:0 auto;
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight:200;
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight:normal;
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Mediumr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Mediumr.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Medium.svg') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue-roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/JHelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Roman.svg') format('svg');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight:bold;
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/JHelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Bold.svg') format('svg');
}

/*begin header*/
body{
  font-family: 'HelveticaNeue';
  font-size:14px;
}
header{
  background-color:#47629D;
  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #32508B),
	color-stop(1, #47629D)
	);
	background-image: -o-linear-gradient(bottom, #32508B 0%, #47629D 100%);
	background-image: -moz-linear-gradient(bottom, #32508B 0%, #47629D 100%);
	background-image: -webkit-linear-gradient(bottom, #32508B 0%, #47629D 100%);
	background-image: -ms-linear-gradient(bottom, #32508B 0%, #47629D 100%);
	background-image: linear-gradient(to bottom, #32508B 0%, #47629D 100%);
  height:148px;
  color:#fff;
}
.h_top{
  padding: 28px 0 24px 0;
    overflow: hidden;
}
.logo{
  float:left;
 }
.h_des{
	border-left: 2px solid #fff;
    margin-left: 20px;
    padding-left: 15px;
    margin-top: 20px;
    float: left;
}
.perspectiva{
  float:left;
  margin-left:75px;
}
.perspectiva a {
  line-height:60px;
  color:#fff;
  font-size:12px;
  position:relative;
  display:block;
  padding-left:70px;
  text-transform:uppercase;
  text-decoration:none;
  font-family: 'HelveticaNeue-Roman';
}
.perspectiva a:hover {
    color: #e2dacb;
    text-decoration:underline;
}
.perspectiva a:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  background-image:url(../img/perspectiva.png);
  width:60px;
  height:60px;
} 
.h_num{
  float:right;
  width:135px;
  margin-top:10px;
}
.h_num a{
  display:block;
  text-align:right;
  margin-bottom:4px;
  color:#fff;
  font-family: 'HelveticaNeue-Roman';
} 
.nav{
  overflow:hidden;
  margin:0;
  position: relative;
  z-index: 3;
  border-radius:15px;
  background-color:#fff;
  border:1px solid #0070b8;
}
.ul_nav li{
  float:left;
  height:55px;
  text-transform:uppercase;
}
.ul_nav li a{
	border-right: 1px solid #0070b8;
	font-size: 14px;
	padding: 0 32px;
	line-height: 24px;
	margin-top: 16px;
	color: #010101;
	display: block;
	font-weight: 200;
	text-decoration: none;
}
.ul_nav li:last-child a{
  border-right:none;
}
.ul_nav li.active{
      background-color: #b78770;
}
.ul_nav li.active a{
    color:#fff;
    text-decoration:underline; 
}
.ul_nav li.active a{
	border-right:1px solid #b78770;
}
.ul_nav li:hover a{
	text-decoration:underline;
}
.mob_nav,.mob_close{
    display: none;
    text-align: center;
    line-height: 57px;
    font-weight: bold;
    color: #010101;
    text-transform: uppercase;
    position: relative;
    cursor:pointer;
}
.nav_show .mob_ul{
  display:block;
}
.mob_nav span{
  position:relative;
}
.mob_nav span:after{
    background-image: url(../img/arrow_down.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    width: 14px;
    position: absolute;
    height: 14px;
    right: -20px;
    top: 1px;
    content: "";
}
.ul_nav{
  position:relative;
}
.nav_show .ul_nav{
    margin-top: 55px;
}
.nav_show .mob_close{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	display:block;
}
.nav_show li{
	float:none;
	line-height: 55px;
}
.nav_show li a{
	margin-top: 0px;
	line-height:55px;
	text-align: center;
}
.nav_show .mob_nav{
	display:none;
}
.mob_close span{
	position:relative;
}
.mob_close span:after{
    background-image: url(../img/arrow_down.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    width: 14px;
    position: absolute;
    height: 14px;
    right: -20px;
    top: 1px;
    content: "";
}
.mob_close span{

}
.form{
  text-align:right;
}
.form h4{
  text-align:right;
}
/*end header*/

.up_part{
  overflow:hidden;
  margin-top:58px;
  margin-bottom:20px;
}
.banner{
  float:left;
  position:relative;
  width:37%;
  height:456px;
}
.banner .img{
    background-image: url(../img/banner.png);
    position: absolute;
    height: 456px;
    width: 568px;
    left: 0px;
    top: 0px;
}
.form{
  float:right;
  width:63%;
  position:relative;
}
.form .img{
  height:456px;
    width: 604px;
  position:absolute;
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-image:url(../img/form.png);
}
.up_part h4{
  text-transform:uppercase;
  position:relative;
  z-index:2;
  padding:24px;
  font-size:21px;
  margin:0;
  font-weight:bold;
}
.up_part h4 span{
   font-family: 'HelveticaNeue-roman';
   font-size:15px;
   font-weight:normal;
}
.banner h4{
  color:#53555f;
}
.form h4{
  color:#9d705b;
}
.form_int{
  position:relative;
  z-index:2;
  padding:0px 20px;
  color:#9d705b;
}
.int_row{
	position:relative;
	width:430px;
	float:right;
}
.int_row input{
    width: 315px;
    height: 40px;
    border: none;
    padding: 0 16px;
    box-shadow: inset -2px 2px 1px -1px rgba(0, 0, 0, 0.7);
    color: #9c9c9c;
    font-size: 13px;
    text-align: right;
    margin-bottom: 22px;
}
.int_row input:focus{
	outline:none;
}
.int_row2 input{
	width:335px;
}
.int_row span{
position: absolute;
    left: 55px;
    top: 0px;
    width: 39px;
    height: 40px;
    background-image: url(../img/left_input.png);
}
.int_row2 span{
	left: 27px;
}
.example {
    width: 415px;
}
.range-min,.range-max{
	display:none;
}
#js-display-callback{
	margin-top:8px;
}
#js-display-callback:after {
    content: "$";
    margin-left:5px;
}
input.js-callback {
    position: absolute;
    top: 191px;
    height: 22px;
    width: 220px;
    text-indent: 5px;
    border-radius: 3px;
    right: 21px;
    box-shadow: -1px -1px 1px 0px rgba(37, 36, 36, 0.37),1px -1px 1px 0px rgba(37, 36, 36, 0.37);
    border: none;
    display: block !important;
}
.price_filter .title{
  text-align:right;
  text-transform:uppercase;
  margin-bottom:10px;
  font-weight:200;
}
.price_filter{
  width:415px;
  float:right;
}
.price_bot{
	overflow:hidden;
	margin-top:8px;
}
.price_bot span{
	font-weight:bold;
	font-size:16px;
}
.row_credit{
	overflow:hidden;
}
.row_credit span{
	float:left;
	display:block;
}
.c_rows{
	float:right;
	width:495px;
	margin-top:13px;
}
.c_rows span{
	text-transform:uppercase;
	line-height:23px;
	margin-top:2px;	
	font-weight:200;
}
.c_rows select{
	height: 23px;
	margin-right:1px;
	margin-top: 2px;
    height: 23px;
    width: 220px;
    text-indent: 5px;
    border-radius: 3px;
    right: 20px;
    box-shadow: -1px -1px 1px 0px rgba(37, 36, 36, 0.37),1px -1px 1px 0px rgba(37, 36, 36, 0.37);
    border: none;
}
.span1{
	margin-left:39px;
}
.span2{
	margin-left:18px;
}
.button_enter{
	margin-top:20px;
	background-color: #b78770;
	color:#fff;
	border-radius:6px;
	padding:8px 16px;
	border:none;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.74);
}
.news_ul{
	overflow:hidden;
}
.news_ul li{
	float:left;
  margin:0 15px;
}

.news_li .img{
	border:1px solid #a8a8a5;
	margin-bottom:15px;
}
.news_li .img img{
	width:100%;
	display: block;
}
.news_li .heading{
	display:block;
	color:#616161;
	font-size:14px;
	line-height:18px;
	text-decoration:underline;
}
/*begin news*/
.up_heading{
	margin: 25px 0;
    color: #9d705b;
    font-size: 21px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    text-align: center;
    color:#4f515b;
}
.up_heading span:before{
  content: '';
  display: block;
  top: 50%;
  left:100%;
  width: 1000px;
  position: absolute;
  border-bottom: 2px solid #555862;
}
.up_heading span:after{
  content: '';
  display: block;
  top: 50%;
  right:100%;
  width: 1000px;
  position: absolute;
  border-bottom: 2px solid #555862;
}
.up_heading span{
  display: inline-block;
  position: relative;
  padding: 0 15px;
}
.slick-dots{
  text-align:center;
  margin-top:10px;
}

.slick-dots li{
    margin: 0 5px;
    width: auto;
    display: inline-block;
    float: none;
}
.slick-dots li button {
    border: none;
    border-radius: 50%;
    background-color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    display: block;
    font-size: 0px;
    border: 2px solid #818181;
}
.slick-dots li.slick-active button {
  background-color: #818181;
}
/*end news*/

/*begin feedback*/
.feed_back{
	background-color: #fff;
	height:250px;
	padding:15px 0;
	margin-top:35px;
}
footer{
	padding-top:35px;
}
footer .h_des{
	border-left:2px solid #000;
}
footer .h_num a{
	color:#000;
}
.feed_part{
	overflow:hidden;
	padding:0 50px;
}
.feed_part .img{
	float:left;
	width:110px;
	height:116px;
	border-radius:50%;
}
.feed_text{
	margin-left: 150px;
    height: 120px;
    overflow: hidden;
}
.feed_text span{
	font-weight:bold;
	text-align:center;
	display:block;
	text-indent: -144px;
	margin-bottom:16px;
}
.feed_text p{
	font-weight:200;
	line-height:21px;
}
.slick-arrow{
  width: 12px;
  height: 55px;
  border: none;
  background-color: transparent;
  font-size: 0px;
  top:50%;
  margin-top:-25px;
  position: absolute;
  z-index:3;
}
.slick-prev{
  background-image: url(../img/ar_left.png);
  left: 0px;
}
.slick-next{
  background-image: url(../img/ar_right.png);
  right: 0px;
}
/*end feedback*/

/*begin textpart*/
.main_text{
	    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.48);
    background-color: #fff;
    margin: 75px 0 45px 0;
    padding: 25px;
}
.main_text h2,.main_text h3{
	text-align:center;
	margin:0 0 18px 0;
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	color:#2e2e2e;
}
.main_text p{
	font-weight:200;
	color:#2e2e2e;
	font-size:15px;
	line-height:18px;
	font-family: 'HelveticaNeue-Roman';
}
.zaem{
	overflow:hidden;
      margin: 20px 0;
}
.z_row{
  width:33.3%;
  float:left;
}
.z_row h3{
    border-bottom: 1px solid #636363;
    border-right: 1px solid #636363;
    padding-bottom: 6px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
} 
.z_row ul{
  border-right:1px solid #636363;
  min-height: 475px;
}
.z_row .no_border{
  border-right:none;
}
.z_row ul li {
    padding-top: 20px;
}
.z_row ul li img{
  display:block;
  margin:0 auto 10px auto;
}
.z_row ul li p{
  width:200px;
  margin:0 auto;
  text-align:center;
}
.under_h3{
    color: #9d705b;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 25px;
}
.need_document{
	overflow:hidden;
	width:800px;
	margin:0 auto;
	text-align:center;
}
.need_document li{
    display: inline-block;
    width: 31%;
    margin: 0 1%;
    vertical-align: top;
}
.need_document li .img{
	margin-bottom:12px;
}
.need_document li span{
	font-family: 'HelveticaNeue-Roman';
}
.c_logo{
	display:block;
	margin:0 auto 20px auto;
}
.disc{
	list-style:disc;
}
.disc li{
	padding-left: 7px;
	-webkit-margin-start: 30px;
    font-family: 'HelveticaNeue-Roman';
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}
.news_part .img{
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}
.sec_news h5{
	font-weight:bold;
	font-size:16px;
	margin:0 0 10px 0;
}
.contact_ul{
  overflow:hidden;
  margin:0 auto 15px auto;
}
.contact_ul li{
  float:left;
  width:45%;
  margin-right:10%;
  font-size:15px;
  font-family: 'HelveticaNeue-Roman';
  margin-bottom:15px;
}
.contact_ul li:nth-child(2n){
  margin-right:0;
}
/*end textpart*/

.zayavka {
  width:600px;
  margin:0 auto;
}
.zayavka h3{
  text-align:center;
}
.zayv{
  display:block;
  text-align:center;
  margin-top:-8px;
  margin-bottom:25px;
}
.zayavka input{
  border: none;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.45);
  height: 38px;
  text-indent: 15px;
}
.double_in input{
  float:left;
  width:47.5%;
  margin-right:5%;
}
.double_in input:last-child{
  margin-right:0;
}
.zayavka button{
    background-color: #70737e;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 12px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.74);
}
/*begin footer*/
.foot_up{
	overflow:hidden;
	margin-bottom:20px;
}
.foot_bot{
	overflow:hidden;
	margin-bottom:15px;
}
.foot_bot p{
	float:left;
	font-family: 'HelveticaNeue-roman';
}
.foot_bot a{
	float:right;
	color:#000;
	font-family: 'HelveticaNeue-roman';
	text-transform:uppercase;
}
/*end footer*/

@media screen and (max-width: 1000px){
  .cr{
    width:initial;
    padding:0 20px;
  }
  .mob_nav{
    display:block;
  }
  .perspectiva,.mob_ul{
    display:none;
  }
  .banner{
  	  display:none;
  }
  .form h4{
    text-align:center;
  }
  .form{
    width:100%;
    border-radius:10px;
    background-color:#fff;
  }
  .form img{
    display:none;
  }
  .form_int{
    padding:0 60px;
  }
  .int_row span{
    display:none;
  }
  .int_row{
    width:47%;
    margin-right:6%;
    float:left;
  }
  .int_row input{
    width: 100%;
    text-indent:10px;
    text-align:left;
    padding: 0px;
  }
  .int_row2{
    margin-right:0;
  }
  .int_row input{
    border:1px solid #ccc;
  }
  .price_filter {
    width: 80%;
    float:none;
    margin-left: 10%;
  }
  .price_filter .title {
    text-align: center;
  }
  .c_rows {
    float: none;
    width: 100%;
    margin-top: 13px;
  }
  .c_rows span{
    margin-left:0;
  }
  input.js-callback {
    top: 131px;
    right: 61px;
  }
  .button_enter{
        margin: 20px auto;
        display:block;
  }
  .zayavka{
    width:90%;
  }
}
@media screen and (max-width: 740px){
  .h_des{
    display:none;
  }
  .form_int{
    padding:0 20px;
  }
  input.js-callback {
    right: 21px;
  }
  input.js-callback,.c_rows select{
    width:170px;
  }
  .c_rows span{
    font-size:13px;
  }
  .feed_part .img{
    display:none;
  }
  .feed_text{
    margin-left:0;
    text-align:center;
  }
  .feed_text span{
    text-indent:0px;
  }
  .zayavka{
    width:100%;
  }
  
}
@media screen and (max-width: 525px){
  .int_row,.price_filter{
    width:100%;
    float:none;
    margin-left:0%;
  }
  .int_row input{
    width:100%;
  }
  input.js-callback {
    top: 222px;
    left: 20px;
    width:80%;
  }
  .c_rows span {
    font-size: 13px;
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 5px;
  }
  .c_rows .span1 {
    margin-bottom: 15px;
  }
  .c_rows select{
    width: 89.5%;
    float: left;
    margin-left: 1px;
  }
  .news_part .img{
    width:50%;
  }
  .double_in input{
    width:100%;
    margin-right:0;
  }
  .foot_bot p{
    display:none;
  }
}